.blog-post {
  >h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0rem;
    font-size: 2.5rem;
    color: var(--color);
  }
  a:hover {
    text-decoration: underline;
  }
  .subtitle {
    span {
      margin: 20px 0;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0.05rem;
      font-size: 0.9rem;
      color: var(--color);
      &.category {
        text-transform: uppercase;
        padding-right: 10px;
        border-right: 1px solid #5b5b5b;
      }
      &.date {
        padding-left: 10px;
      }
    }
  }
}

.image-tumbnail {
  padding: 20px 0;
}

@media screen and (max-width: 750px) {
  .blog-post {
    padding: 20px;
    >h1 {
      font-size: 2rem;
    }
  }
}
