.blog-post-content {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 2rem;
  font-size: 1.1rem;
  color: var(--color);
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    color: var(--color-heading);
    letter-spacing: 0.025rem;
    margin: 20px 0;
    padding-top: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }

  p {
    padding: 20px 0;
  }

  table {
    border-collapse: collapse;
    tr, th, td {
      border: 1px solid var(--color);
      padding: 0 10px;
    }
    tr:nth-child(even) {
      background-color: var(--bg-color);
    }
  }

  a {
    color: #527aa3;
  }

  blockquote {
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #e2f1ff;
    border-left: 5px solid #9fcaf3;
    p {
      margin: 0;
    }
    blockquote {
      border-left-width: 2px;
    }
  }
  code {
    background-color: #f7c7e1;
    border-radius: 5px;
    padding: 0 5px;
  }
  iframe {
    border: none;
  }
  img {
    filter: drop-shadow(0 2px 3px #aaaaaa);
  }
}
