@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Raleway&Lato:wght@700&display=swap');



* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}



body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

a,  a:visited {
  text-decoration: none;
  color:  #222;
}
