@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Raleway&Lato:wght@700&display=swap');



* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

* {
  --color: #3b3b3b;
  --color-secondary: #666;
  --color-heading: #2b2b2b;
  --bg-color: #fafafa;
  --deckgo-highlight-code-white-space: pre;
  --deckgo-highlight-code-scroll: hidden;
  --deckgo-highlight-code-carbon-box-shadow: 1px 2px 5px #5c69742c;
  --deckgo-highlight-code-carbon-border: 1px solid #eee;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

a,  a:visited {
  text-decoration: none;
  color:  var(--color);
}
