main {
  margin-top: 100px;
}

#main-container {
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  main {
    margin-top: 75px;
  }
  
  #main-container {
    padding: 0;
  }
}